#background-image {
    background-image: url("images/taos-mtn.jpg");
    background-size: cover;
    min-height: 100%;
}
.heading{
    text-align: center;
    font-weight: bolder;
}
.subheading{
    text-align: center;
}
.skill-list{
    font-size: x-large;
    text-align: left;
}
.experience-list{
    list-style: none;
}
.skills{
    background-color: #B08515;
    color: #9ED3FF;
}
.education, .certifications, .experience, .other{
    font-size: x-large;
}
