#background-image {
    background-image: url("images/taos-mtn.jpg");
    background-size: cover;
    min-height: 100%;
}
.heading{
    text-align: center;
    font-weight: bolder;
}
.dropdown-menu{
    font-size: small;
}