#background-image {
    background-image: url("images/taos-mtn.jpg");
    background-size: cover;
    min-height: 100%;
}
.heading{
    text-align: center;
    font-weight: bolder;
}
.subheading{
    text-align: center;
}
.skill-list{
    font-size: small;
    text-align: left;
}
.experience-list{
    list-style: none;
}