body{
    font-family: 'Montserrat', 'Open Sans', sans-serif;
}

.purpose, .audience, .goal, .technology, .attitude-behaviors, .demographics {
    border: darkblue solid thick;
    margin: 1em 10em;
    padding: 0 3em;
}
h1, h2, h3{
    text-align: center;
}
.important{
    font-style: italic;
    font-weight: bold;
}
