html,
body {
  height: 57%;
}

#background-image {
  background-color: #212f4b;
  background-image: url('images/drs-point-nz-reduced.jpg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  min-height: 100%;
  min-width: 100%;
  background-position: center;
}

.heading {
  text-align: center;
  font-weight: bolder;
}

.subheading {
  text-align: center;
}

.list-heading {
  font-size: x-large;
}

.list-heading-soft {
  font-size: x-large;
}

.skill-list,
.tech-ed {
  text-align: left;
  background-color: #d5d5d3;
  color: #212f4b;
}

.experience-list,
.exp-list,
.other-list {
  list-style: none;
}

.skills,
.education,
.experience {
  background-color: #d5d5d3 !important;
  color: #405981 !important;
}

.education,
.certifications,
.experience,
.other {
  font-size: large;
}

.portfolio,
.certifications,
.other {
  background-color: #98d6ff;
  color: #405981;
}

.cert-list,
.other-list {
  background-color: #98d6ff;
  color: #405981;
}

.exp-list {
  background-color: #d5d5d3;
  color: #405981;
}

.footer-icon {
  max-height: 1.5em;
}

.footer {
  background-color: #212f4b;
}

span {
  font-weight: bold;
}

.icon {
  max-height: 1em;
}

.border,
.border-bottom,
.border-top {
  border-color: #212f4b !important;
}

.content-title {
  background-color: #212f4b;
  color: #e7dbc6;
}

.headshot {
  max-height: 150px;
}

a {
  text-decoration: none;
  font-size: large;
  color: #212f4b;
}

a:link {
  color: #212f4b;
}
